
   <h1> Login  </h1>
<%flash[:message]%>
<%= form_for :user  do |f| %>

    <br><%= f.label "username" %>
    <%= f.text_field :username %>
    <br><br>
    <%= f.label "password" %>
    <%= f.password_field :password  %>
    <br>
    <%= f.submit 'Login '%>
<% end %> 
<h3>Or Login with Google:</h3>

<%= button_to 'Google', '/auth/google_oauth2' %>
