
<h1>   signup </h1>
<%= form_for @user do |f| %>
    
    <%= f.label "Username" %><br>
    <%= f.text_field :username %>
    <br>
    <br>
    <%= f.label "Email" %><br>
    <%= f.email_field :email %>
    <br>
    <br>
    <%= f.label "Password" %><br>
    <%= f.password_field :password %>
    <br>
    <br>
    <%= f.submit 'Sign Up'%>
<% end %> 
