 <p> Beer_Name: <%= o.beer_name %><br>
      Description: <%= o.description %><br>
      Quantity: <%= o.quantity %><br><br><br>

        <% if o.company %> 
           Company: <%= o.company.company_name %><br>
            Address: <%=o.company.address %>
           


        <% end %>
 </p>    