
<h1>New Company</h1>


<%= form_with model: @company do |f|%>
    <%= f.label :Company_name %>
    <%= f.text_field :company_name %><br><br>
    <%= f.label :address %>
    <%= f.text_field :address %><br><br>
   
    
    <%= f.submit %>
<% end %>