<!DOCTYPE html>
<html>
  <head>
    <title>Project3-rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
  </head>

  <body>
  <div>  
 
  <% if logged_in?%><br><br>
  <%= link_to "Add Company", new_company_path %>|
  <%= link_to "All Company ", companies_path %>|
  <%= link_to "All Order ", orders_path %>|
  <%=button_to "Logout", logout_path, method: "delete" %>|
  <% else %><br>
  <%= link_to "Sign Up", signup_path %>|
  <%= link_to "Log In", login_path %>|
<%end%>
 </div>

      <div>
    <% if flash[:message]  %>
      <%= flash[:message]%>
     <% end%>
      <%@error%>
     </div>
  
    <%= yield %>
  </body>
</html> 